/* Detail */

ul {
  list-style: none;
  padding: 0 !important;
}
.detail_meta > li > span {
  font-weight: bolder;
}

.detail_meta a:not(:last-child)::after {
  content: ", ";
}

.detail_meta > li {
  margin-bottom: 8px;
}

.detail_image > span {
  position: absolute;
  top: 3%;
  left: 3%;
  border: 3px solid #00a2ff;
  border-radius: 100%;
  padding: 3px;
  background-color: rgba(33, 37, 41, 0.5);
  color: #fff;
}

.detail_watch {
  display: inline-block;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 64px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  transition: all 0.3s ease-in-out;
  /* border:1px solid #000; */
  border-radius: 100%;
  width: 90px;
  height: 90px;
  padding-bottom: 2px;
  padding-left: 2px;
}

.detail_watch > i {
  color: rgba(255, 255, 255, 1);
}

.detail_watch:hover {
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow: 0px 0px 200px rgba(0, 0, 0, 1);
}
/* custom scroll bar */
.detail_description::-webkit-scrollbar {
  width: 5px;
}
.detail_description::-webkit-scrollbar-track {
  background: #c0c5c7;
  padding: 5px;
  border-radius: 5px;
}
.detail_description::-webkit-scrollbar-thumb {
  background: #00a2ff;
  border-radius: 5px;
}
/*  */
.detail_container {
  padding: 10px;
}
.detail_description {
  /* margin:20px; */
  border-radius: 6px;
  box-sizing: border-box;
}

.description-section {
    padding:20px;
    box-sizing: border-box;
    border-radius:6px;
    /* border: 1px solid #c5c5c5; */
  background-color: #f8f8f8;
}
/* Form comment */

.comment .form {
  padding: 20px;
}

.form {
  border: 1px solid #c5c5c5;
  border-radius: 6px;
  position: relative;
  margin-bottom: 20px;
}

.form_textarea {
  border: 2px solid transparent;
  height: 60px;
  /* position: relative;   */
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  width: 100%;
  padding: 15px 20px;
  resize: none;
  background-color: #f8f8f8;
  border-radius: 6px;
  margin-bottom: 15px;
}

.form button {

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 16px;
  height: 36px;
  border-radius: 18px;
  background-color: #00a2ff;
  font-size: 14px;
  line-height: 36px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 600;
  border: none;
}

.submit-button{
    display:flex;
    justify-content: end;
}
.disabled {
  opacity: 0.6;
  cursor: not-allowed;
  background-color: rgba(0, 0, 0, 0.1) !important;
}
/* Comment */
.comment_item {
  margin-bottom: 20px;
}

.comment_author {
  position: relative;
  padding-left: 55px;
  margin-bottom: 15px;
}
.comment_avatar {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  border-radius: 6px;
}
.comment_name {
  display: block;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}
.comment_time {
  display: block;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
}

.comment_text {
  margin: 0;
  font-size: 16px;
  line-height: 26px;
  background-color: #f8f8f8;
  padding: 20px;
  position: relative;
  border-top: 1px solid #c5c5c5;
  border-left: 1px solid #c5c5c5;
  border-right: 1px solid #c5c5c5;
  border-radius: 6px 6px 0 0;
}

.comment_action {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 15px 20px;
  border: 1px solid #c5c5c5;
  position: relative;
  border-radius: 0 0 6px 6px;
}
.comment_action button i {
  margin-right: 5px;
}

.comment_action button {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.6);
  margin-right: 20px;
  height: 22px;
  text-transform: uppercase;
  font-weight: 500;
  background-color: transparent;
  border: none;
}
.comment_action button:hover {
  transition: 0.4s ease;
  color: #000;
}
.comment_action button:hover i {
  transition: 0.2s ease;
  scale: 1.3;
}
.comment_rate {
  display: inline-flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  left: 20px;
  top: 50%;
  margin-top: -15px;
}
.comment_rate button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 14px;
  margin-right: 25px;
  position: relative;
  height: 30px;
  opacity: 0.7;
}

.comment_rate button:hover {
  opacity: 1;
  transition: 0.4s ease;
}
.comment_rate button:hover i {
  scale: 1.3;
  transition: 0.2s ease;
}
.comment_rate button:first-child i {
  margin-right: 6px;
  color: #29b474;
}
.comment_action button:first-child:before {
  content: "";
  position: absolute;
  display: block;
  left: 100%;
  margin-left: 12px;
  width: 1px;
  height: 15px;
  background-color: #c5c5c5;
  top: 50%;
  transform: translateY(-50%);
}

.comment_rate button:last-child {
  margin-right: 0;
}
.comment_rate button:last-child i {
  margin-left: 6px;
  color: #eb5757;
  padding-top: 3px;
}
@media (max-width: 576px) {
  .detail_description {
    height: 150px;
  }
  .detail_content {
    padding: 20px 0;
    font-size: 16px;
  }
}

@media (min-width: 768px) {
  .detail_description {
    height: 149px;
  }
}

@media (min-width: 992px) {
  .detail_description {
    height: 256px;
  }
}
